<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <hr>
    <h1>Perguntas</h1>
    <hr>
    <a href="/toask" class="btn btn-dark">Perguntar</a>
    <hr>
    <div class="card">
      <% questions.forEach(question => { %>
        <div class="card-body">
          <h3><%= question.title %></h3>
        </div>
        <div class="card-footer">
          <a href="/toask/<%= question.id %>"><button class="btn btn-dark">Responder</button></a>
        </div>
        <% }) %>
      </div>
    </div>
</body>
<%- include('partials/scripts.ejs') %>
